<section class="sponsorships">
  <h2>Our Sponsors</h2>
  <!-- <h3 class="sub-head">Diamond Sponsor</h3>
        <div class="sponsors ">
          <div>
            <img src="/assets/sponsors/abledocs-logo.png " alt="Abled Docs" class="logo">
          </div>
        </div>
        <h3 class="sub-head">Platinum Sponsors</h3>
        <div class="sponsors ">
          <div>
            <img src="/assets/sponsors/td_logo.png " alt="TD" class="logo">
          </div>
          <div>
            <img src="/assets/sponsors/telus_digital.png " alt="Telus digital " class="logo">
          </div>
        </div>
        <h3 class="sub-head">Gold Sponsors</h3>
        <div class="sponsors ">
          <div>
            <img src="/assets/sponsors/accessibil-it_logo.png" alt="Accessibil-IT" class="logo ">
          </div>
          <div>
            <img src="/assets/sponsors/ea-logo.png " alt="eSSENTIAL Accessibility" class="logo">
          </div>
        </div>
        <h3 class="sub-head">Silver Sponsors</h3>
        <div class="sponsors ">
          <div>
            <img src="/assets/sponsors/ami_logo.gif " alt="Accessible Media Inc. " class="logo ">
          </div>
          <div>
            <img src="/assets/sponsors/deque_logo.png " alt="Deque Systems " class="logo ">
          </div>
          <div>
            <img src="/assets/sponsors/tpg.png " alt="The Paciello Group" class="logo ">
          </div>
        </div>
        <h3 class="sub-head">Bronze Sponsors</h3>
        <div class="sponsors ">
          <div>
            <img src="/assets/sponsors/access-partners-can.png" alt="Accessibility Partners Canada" class="logo ">
          </div>
          <div>
            <img src="/assets/sponsors/cbc.png" alt="CBC" class="logo ">
          </div>
          <div>
            <img src="/assets/sponsors/crawford-technologies.png" alt="Crawford Technologies " class="logo ">
          </div>
          <div>
            <img src="/assets/sponsors/ecentricarts_logo.png" alt="Ecentricarts" class="logo ">
          </div>
          <div>
            <img src="/assets/sponsors/senseability_logo.png" alt="SenseAbility" class="logo ">
          </div>
        </div>
        <h3 class="sub-head">Our In Kind Sponsors</h3>
        <div class="sponsors">
          <div>
            <img src="/assets/partners/ocadu_logo.gif" alt="OCADU" class="logo ">
          </div>
          <div>
            <img src="/assets/partners/idrc_logo.gif" alt="Inclusive Design Research Centre" class="logo ">
          </div>
        </div> -->
  <p>
    If you are interested in sponsoring <strong>#a11yTO</strong>, please email
    us at <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a>
  </p>
</section>
