    <section class="partners ">
      <div class="textWrapper ">
        <h3>Sponsorships & Partners</h3>
        <h4>Diamond Sponsor</h4>
        <div class="sponsors ">
          <div>
            <img src="assets/sponsors/abledocs-logo.png " alt="Abled Docs" class="logo">
          </div>
        </div>
        <h4>Platinum Sponsors</h4>
        <div class="sponsors ">
          <div>
            <img src="assets/sponsors/td_logo.png " alt="TD" class="logo">
          </div>
          <div>
            <img src="assets/sponsors/telus_digital.png " alt="Telus digital " class="logo">
          </div>
        </div>
        <h4>Gold Sponsors</h4>
        <div class="sponsors ">
          <div>
            <img src="assets/sponsors/accessibil-it_logo.png" alt="Accessibil-IT" class="logo ">
          </div>
        </div>
        <h4>Silver Sponsors</h4>
        <div class="sponsors ">
          <div>
            <img src="assets/sponsors/ami_logo.gif " alt="Accessible Media Inc. " class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/deque_logo.png " alt="Deque Systems " class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/tpg.png " alt="The Paciello Group" class="logo ">
          </div>
        </div>
        <h4>Bronze Sponsors</h4>
        <div class="sponsors ">
          <div>
            <img src="assets/sponsors/access-partners-can.png" alt="Accessibility Partners Canada" class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/cbc.png" alt="CBC" class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/crawford-technologies.png" alt="Crawford Technologies " class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/ecentricarts_logo.png" alt="Ecentricarts" class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/senseability_logo.png" alt="SenseAbility" class="logo ">
          </div>
        </div>
        <h4>Supporting Sponsors</h4>
        <div class="sponsors ">
          <div>
            <img src="assets/sponsors/HackerYou.png" alt="HackerYou" class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/mozilla_logo.png" alt="Mozilla" class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/AdrianRoselli_logo.jpg" alt="Adrian Roselli LLC" class="logo ">
          </div>
          <div>
            <img src="assets/sponsors/RU-Chang_logo.png" alt="Ryerson University: The Chang School for Continuing Education" class="logo ">
          </div>
        </div>
        <h4>Partners</h4>
        <div class="partners">
          <div>
            <img src="assets/partners/ocadu_logo.gif" alt="OCADU" class="logo ">
          </div>
          <div>
            <img src="assets/partners/idrc_logo.gif" alt="Inclusive Design Research Centre" class="logo ">
          </div>
        </div>
        <p>If you are interested in sponsoring #a11yTO, please email us at
          <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a>
        </p>
      </div>
    </section>

